{
  "port": 8080,
  "dockerServices": [
    "its-the-vibe/rate-my",
    "its-the-vibe/service-1",
    "its-the-vibe/service-2",
    "its-the-vibe/service-3",
    "its-the-vibe/service-4",
    "its-the-vibe/service-5"
  ],
  "systemdServices": [
    "nginx",
    "postgresql"
  ]
}
